{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<title>Elikem Christopher </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px;}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width:120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left:120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0px}}
img {
  border-radius: 50%;
}
</style>
<body class="w3-black">

  <!-- Icon Bar (Sidebar - hidden on small screens) -->
  <nav class="w3-sidebar w3-bar-block" style="width:120px">
    <!--<div class="w3-sidebar w3-bar-block" style="width:70px"> -->
      <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
        <i class="fa fa-home w3-xxlarge"></i>
        <p>HOME</p>
      </a>
      <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-user w3-xxlarge"></i>
        <p>ABOUT</p>
      </a>
    
      <a  href="#projects" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-cubes w3-xxlarge"></i>
        
        <p>PROJECTS</p>
      </a>
      <a href="#photos" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="	fa fa-image w3-xxlarge"></i>
        <p>PHOTOS</p>
      </a>
      <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-comments w3-xxlarge"></i>
        <p>CONTACT</p>
      </a>
      <a href="{% url 'blog:all_blogs' %}" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
        <i class="fa fa-modx w3-xxlarge"></i>
        <p>BLOG</p>
      </a>
  </nav>
<!-- Page Content -->
<div class="w3-padding-large" id="main"> 
  <!--<div class="w3-padding-large" id="main" style="margin-left:70px"> -->
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <img src="{% static 'portfolio/kris.jpg' %}"  alt="Avatar" style="width:300px" >
    <h5>Chris~</h5>
   <br> <p>Passionate python programmer || Entrepreneur || Network Marketer || Tech enthusiatic and python Automations</p> <br>
    
  </header>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <h2 class="w3-text-light-grey">Christopher Elikem Dzorkpui</h2>
    <hr style="width:4200px" class="w3-opacity">
    <p> I am a passionate python programmer, entrepreneur,network marketer and tech enthusiatic. 
      I am open minded individual who always strive to achieve the higher standard possible at any given task. I have the ability
      and experince to relate to wide range of people. I am passionate about finding constructive solutions to contemporary business
      challenges and using mmy analytical capacity to solve problems.
      I am ready to work in any organisation or environment where opportunities, initiatives and challenges would help bring to bear
      my knowledge, skills, competencies and expriences in accordance with the furtherance and achievement of the business goals and corporate objectives.
      Currently, I'm a student of Ghana Communication Techology University where I am pursuing  BSc in Information Technology.
    </p>
    
    <h3 class="w3-padding-16 w3-text-light-grey">My Skills</h3>
    <p class="w3-wide">Python</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:70%"></div>
    </div>
    <p class="w3-wide">Html</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:40%"></div>
    </div>
    <p class="w3-wide">Css</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:30%"></div>
    </div>
    <p class="w3-wide">C++</p>
    <div class="w3-white">
      <div class="w3-dark-grey" style="height:28px;width:45%"></div>
    </div><br>

    <!--rate
    <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">11+</span><br>
        Partners
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">55+</span><br>
        Projects Done
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">89+</span><br>
        Happy Clients
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-xlarge">150+</span><br>
        Meetings
      </div>
    </div>
 -->
    <button class="btn btn-outline-info">
    <a class="fa fa-download" href="{% static "portfolio/resume.pdf" %}" class="btn btn-outline-info" >Download Resume</a>
    </button>
   
    
    <!-- Grid for pricing tables 
    <h3 class="w3-padding-16 w3-text-light-grey">My Price</h3>
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half w3-margin-bottom">
        <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Basic</li>
          <li class="w3-padding-16">Web Design</li>
          <li class="w3-padding-16">Photography</li>
          <li class="w3-padding-16">5GB Storage</li>
          <li class="w3-padding-16">Mail Support</li>
          <li class="w3-padding-16">
            <h2>$ 10</h2>
            <span class="w3-opacity">per month</span>
          </li>
          <li class="w3-light-grey w3-padding-24">
            <button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>
          </li>
        </ul>
      </div>

      <div class="w3-half">
        <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
          <li class="w3-dark-grey w3-xlarge w3-padding-32">Pro</li>
          <li class="w3-padding-16">Web Design</li>
          <li class="w3-padding-16">Photography</li>
          <li class="w3-padding-16">50GB Storage</li>
          <li class="w3-padding-16">Endless Support</li>
          <li class="w3-padding-16">
            <h2>$ 25</h2>
            <span class="w3-opacity">per month</span>
          </li>
          <li class="w3-light-grey w3-padding-24">
            <button class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>
          </li>
        </ul>
      </div>
    <!- End Grid/Pricing tables --> 

    </div>
    
    <!-- Testimonials 
    <h3 class="w3-padding-24 w3-text-light-grey">My Reputation</h3>  
    <img src="/w3images/bandmember.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-margin-right">Chris Fox.</span> CEO at Mighty Schools.</p>
    <p>John Doe saved us from a web disaster.</p><br>
    
    <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-margin-right">Rebecca Flex.</span> CEO at Company.</p>
    <p>No one is better than John Doe.</p>
  <!- End About Section -->
  </div>
  
  <!-- Portfolio Section -->
  
    <div class="w3-padding-64 w3-content" id="projects" >
      <h2 class="w3-text-light-grey">Works</h2>
      
      <hr style="width:200px" class="w3-opacity">
    <div class="row">
      {% for project in projects %}
      <div class="col-lg-4 col-md-6">
    
        {% if project.url %}
        <a href="{{ project.url }}">
          <img src="{{ project.image.url }}" class="img-fluid mb-2" style="width:200px">
        </a>
        {% else %}
    
        <img src="{{ project.image.url }}" class="img-fluid mb-2" style="width:200px">      
        {% endif %}
        <h3>{{ project.title }}</h3>
        <p>{{ project.description }}</p>
    
      </div>
      {% endfor %}
    </div>
    </div>
  <div class="w3-padding-64 w3-content" id="photos">
    <h2 class="w3-text-light-grey">My Photos</h2>
    <hr style="width:200px" class="w3-opacity">

    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
      <div class="w3-half">
        <img src="{% static 'portfolio/1.jpg' %}"  style="width:200px">
        <img src="{% static 'portfolio/2.jpg' %}" style="width:200px">
      </div>

      <div class="w3-half">
       
        <img src="{% static 'portfolio/5.jpg' %}" style="width:200px">
        <img src="{% static 'portfolio/6.jpg' %}" style="width:200px">
        <img src="{% static 'portfolio/7.jpg' %}" style="width:200px">
      </div>
    <!-- End photo grid -->
    </div>
  <!-- End Portfolio Section -->
  </div>

  <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey">Contact Me</h2>
    <hr style="width:200px" class="w3-opacity">

    <div class="w3-section">
      <p>
        <ul>
        <i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i>Volta Region, Ho <br>
        <i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +233249901873, +233508785716 <br>
        <i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: ryanadamz1821@gmail.com <br>
      </ul>
      </p>
    </div>
    <!--<p>Let's get in touch. Send me a message:</p>

    <form action="/action_page.php" target="">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-light-grey w3-padding-large" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
  <!- End Contact Section -->
  </div>
  
    <!-- Footer -->
  <footer class="w3-content w3-padding-64  w3-xxxlarge">
  
    <a href="https://facebook.com/donald.chrisson/" class="fa fa-facebook  w3-hover-opacity"></a>
    <a href="https://instagram.com/elikem200"class="fa fa-instagram  w3-hover-opacity"></a>
    <a  href="https:www.snapchat.com/eliblood200" class="fa fa-snapchat w3-hover-opacity"></a>
    <a href="https://twitter.com/elikemkhobby2?s=08"class="fa fa-twitter  w3-hover-opacity"></a>
    <a href="www.linkedin.com/in/christopher-elikem-46a69619b"class="fa fa-linkedin w3-hover-opacity"></a>
    <a href="https://t.me/Chriselik"class="fa fa-telegram w3-hover-opacity"></a>
    <a href="https://github.com/Chrisadamz18"class="fa fa-github  w3-hover-opacity"></a>
    
  
  <p class="w3-medium" class="wow fadeInUp footer-copyright">
      <br> <img src="{% static 'portfolio/Logo.png' %}"> Powered by Kris-Tech
      <br> Copyright &copy; 2020
  </p>
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>
{% endblock %}
</body>
</html>
